language: python
python:
  - "3.8"
install:
  - wget -N https://chromedriver.storage.googleapis.com/85.0.4183.38/chromedriver_linux64.zip --directory /
  - unzip ~/chromedriver_linux64.zip -d ~/
  - rm ~/chromedriver_linux64.zip
  - sudo mv -f ~/chromedriver /usr/local/share/
  - sudo chmod +x /usr/local/share/chromedriver
  - sudo ln -s /usr/local/share/chromedriver /usr/local/bin/chromedriver
addons:
  chrome: stable
script:
  - pytest