<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <title>{{ title }}</title>
</head>
<body>
    <div class="main_container">
        <div class="mb-4">
            <h1 class="text-center">Simplon, réseau de Fabriques numériques et inclusives</h1>
            <p class="text-center"> Simplon.co est un réseau de Fabriques solidaires et inclusives qui proposent des formations 
                gratuites aux métiers techniques du numérique en France et à l’étranger</p>

            <h2 class="mt-5">Simbot</h2>
            <p>On te présente Simbot, notre chatbot, tu peux lui poser des questions sur les principes de Simplon, son fonctionnement, etc..</p>
        </div>

        {% if history %}
            {% for hist in history %}
                <div class="bloc_question">
                    <div class="response-bot row">
                        <div class="col-sm-2">
                            <p>BOT</p>
                        </div>
                        <div class="col-sm-10 question_bot">
                            <p>{{ hist.question_bot }}</p>
                        </div>
                    </div>
                    <div class="response-bot row">
                        <div class="col-sm-2">
                            <p>USER</p>
                        </div>
                        <div class="col-sm-10 question_user">
                            <p>{{ hist.question }}</p>
                        </div>
                    </div>
                    <div class="response-bot row {{ 'hide_answer' if not hist.preview else '' }}">
                        <div class="col-sm-2">
                            <p>BOT</p>
                        </div>
                        <div class="col-sm-10 mb-4">
                            <div>
                                <span class="preview">{{ hist.preview }}</span>
                                <span class="see-more-btn">Voir plus</span>
                                <span class="full_response">{{ hist.answer }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

        <div>
            <div class="chatbot">
                <div class="response-bot row">
                    <div class="col-sm-2">
                        <p>BOT</p>
                    </div>
                    <div class="col-sm-10 question_bot">
                        <p>{{ bot.question }} </p>
                    </div>
                </div>
                <form action="{{ url_for('question') }}" method="POST" class="{{ 'hide_form_user' if not bot.enableForm else '' }}"> 
                    <div class="form-group row">
                        <label for="question" class="col-sm-2 col-form-label">USER</label>
                        <div class="col-sm-10">
                            <input type="text" name="question" class="form-control" id="question" placeholder="Votre question">
                        </div>
                    </div>
                    <div class="btn_block">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                  </form>
            </div>
            <div class="row mt-4">
                <div class="col-sm-12 quit_bot">
                    <p> Pour quitter le bot, dites lui au revoir, ciao ou bye, il comprendra ;-)</p>
                </div>
            </div>
            <div class="row mt-4 {{ 'hide_btn_topics' if not bot.active else '' }}">
                <div class="col-sm-12">
                    {% if topics %}
                        <p>Si tu ne sais pas quelle question poser, tu peux t'orienter avec les topics suivants : </p>
                            <div class="liste_buttons">
                                {% for topic in topics.keys() %}
                                    <button type="button" class="btn btn-primary btn-topic topic_{{loop.index}}">{{ topic }}</button>
                                {% endfor %}
                            </div>
                            
                            {% for topic in topics %}
                                {% set topic_number = loop.index %}
                                <div class="topic_questions topic_{{topic_number}}">
                                    {% for idx in topics[topic].questions %}
                                        <p class="question_faq topic_{{topic_number}} q_{{loop.index}}">{{ data[idx] }}</p>
                                        <div class="response_faq topic_{{topic_number}} q_{{loop.index}}">
                                            <p>{{ responses[idx][1] }}</p>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                            
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>