.main_container {
    width: 800px;
    margin: 4em auto;
}

.topic_questions .question_faq {
    color: #4E5166;
    cursor : pointer;

    &:hover {
        color : #672A4E;
    }
}

.topic_questions, .response_faq {
    margin-left: 2em;
    display: none;
}

.liste_buttons {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1em;

    button {
        width: 100%;
        font-size: 0.9em;
        margin-bottom : 1em;
    }
}

.btn_block {
    display:flex;
    flex-direction: row-reverse;
}


.bloc_question {
    margin-top: 2em;
}


.see-more-btn {
    color: #9C0D38;
    cursor: pointer;

    &:hover {
        color: #3D2645;
    }
}
  
.full_response {
    display : none;
}

.hide_form_user, .hide_answer, .hide_btn_topics {
    display : none;
}

button.btn-primary{
    background-color: #421820;
    border-color: #421820;

    &:hover {
        background-color: #CD5D67;
        border-color: #CD5D67;
    }
}

.question_bot {
    font-weight: bold;
}

.question_user {
    font-weight: bold;
    color: #6D435A;
}

.quit_bot {
    color: #6A5A72;
}